[Unit]
Description=LapSphere Daemon

[Service]
Type=dbus
BusName=io.lapsphere.Control
ExecStart=/usr/local/bin/lapsphere-daemon
User=root

[Install]
WantedBy=multi-user.target