[Unit]
Description=TUXEDO Control Center Daemon

[Service]
Type=dbus
BusName=com.tuxedo.Control
ExecStart=/usr/local/bin/tuxedo-daemon
User=root

[Install]
WantedBy=multi-user.target