#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release --all

override_dh_auto_install:
	# Install daemon
	install -D -m 755 target/release/lapsphere-daemon debian/lapsphere/usr/bin/lapsphere-daemon
	
	# Install GUI
	install -D -m 755 target/release/lapsphere debian/lapsphere/usr/bin/lapsphere
	
	
	# Install DBus service file
	install -D -m 644 debian/io.lapsphere.Control.service debian/lapsphere/usr/share/dbus-1/system-services/io.lapsphere.Control.service
	
	# Install DBus policy
	install -D -m 644 debian/io.lapsphere.Control.conf debian/lapsphere/usr/share/dbus-1/system.d/io.lapsphere.Control.conf
	
	# Install desktop file
	install -D -m 644 debian/lapsphere.desktop debian/lapsphere/usr/share/applications/io.lapsphere.LapSphere.desktop
	
	# Install icon
	install -D -m 644 debian/icon.svg debian/lapsphere/usr/share/icons/hicolor/scalable/apps/lapsphere.svg

override_dh_auto_clean:
	cargo clean || true

override_dh_auto_test:
	# Skip tests for now
