[Unit]
Description=TUXEDO Hardware Control Daemon
After=multi-user.target

[Service]
Type=dbus
BusName=io.lapsphere.Control
ExecStart=/usr/local/bin/lapsphere-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target