[Desktop Entry]
Name=LapSphere
Comment=Hardware control for LapSphere/Clevo laptops
Exec=pkexec lapsphere-daemon --gui
Icon=preferences-system
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=tuxedo;hardware;cpu;gpu;fan;