[Desktop Entry]
Name=LapSphere
GenericName=Hardware Control
Comment=Control hardware features on Uniwill/Clevo laptops
Exec=env MIMALLOC_PURGE_DELAY=0 MIMALLOC_ARENA_EAGER_COMMIT=0 MIMALLOC_ALLOW_THP=0 lapsphere
Icon=lapsphere
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=lapsphere;clevo;hardware;cpu;gpu;fan;power;performance;gaming;
StartupNotify=true
X-GNOME-Autostart-enabled=true
